<!DOCTYPE html>
<html>
<head>
	<title>MCMSC form</title>
	<h3><strong><center>MCMSC form</center></strong></h3>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/core.js"></script> -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<style>
	.star{
		color:red;
	}
	.pad{
		padding-top: 10px;
		padding-bottom: 10px;
	}
</style>
<script type="text/javascript">
	function addNewCourse(){
		$.ajax({
			url : "http://localhost:3000",
			type : 'GET',
			success : function() {
				console.log("reached here");

				var error = false;
				var data1 = document.getElementById("courseName").value;
				var data2 = document.getElementById("courseGrade").value;
				if(data1 === "" || data2 === ""){
					console.log("1");
					error = true;
				}
				if(error){
					console.log("2");
					if(data1==="" && data2==="")
					{
						console.log(3);
						alert("Please fill the course details correctly!");
					}
					else if(data1===""){
						console.log(4);
						alert("Please fill the course name correctly!");
					}
					else if(data2===""){
						console.log(5);
						alert("Please fill the course grade correctly!");
					}

				}
				else{
					console.log(6);
				$('#courseAddTable tbody:last').append("<tr><td>" + data1 + "</td><td>" + data2 + "</td><td>" + "<button type='button' class='removeCourse btn btn-danger' onclick='removeCourse()'>delete</button>" +"</td></tr>");
				$("#courseName").val("");
				$("#courseGrade").val("");
				}        	    
			},
			error : function() {
				console.log('error');
			}
		});
	}
</script>
<script>
	function removeCourse(){
		$.ajax({
			url : "http://localhost:3000",
			type : 'GET',
			success : function() {
				$('.removeCourse').click(function(){console.log($(this).parent().parent().remove())});    	        	    
        		//$('.remove').parents('tr').first().remove();

        	},
        	error : function() {
        		console.log('error');
        	}
        });

	} 
</script>
<script type="text/javascript">
	function addMember(){
		$.ajax({
			url : "http://localhost:3000",
			type : 'GET',
			success : function() {
				console.log("reached here");
				var data1 = document.getElementById("memberPosition").value;
				var data2 = document.getElementById("memberName").value;
				var data3 = document.getElementById("memberEmail").value;
				var error = false;
				if(data1 === "initial" || data2 ==="" || data3 ===""){
					alert("Please fill the Advisory Committee member details correctly");
					error=true;
				}

				if(!error){ 
				$('#memberAddTable tbody:last').append("<tr><td>" + data1 + "</td><td>" + data2 + "</td><td>" + data3 + "</td><td>" +"<button type='button' class='removeMember btn btn-danger' onclick='removeMember()'>Delete</button>" +"</td></tr>");
				$("#memberName").val("");
				$("#memberPosition").val("");
				$("#memberEmail").val(""); }        	    
			},
			error : function() {
				console.log('error');
			}
		});
	}
</script>
<script>
	function removeMember(){
		$.ajax({
			url : "http://localhost:3000",
			type : 'GET',
			success : function() {
				$('.removeMember').click(function(){console.log($(this).parent().parent().remove())});    	        	    
        		//$('.remove').parents('tr').first().remove();

        	},
        	error : function() {
        		console.log('error');
        	}
        });

	} 
</script>
<script>
	function addPublication(){
		$.ajax({
			url : "http://localhost:3000",
			type : 'GET',
			success : function(){
				console.log("add publication function reached");
				var data1 = document.getElementById("publicationName").value;
				var data2 = document.getElementById("journalName").value;
				var data3 = document.getElementById("publicationStatus").value;
				var data4 = document.getElementById("publicationUrl").value;
				var data5 = document.getElementById("publicationDoi").value;
				$('#publicationsAddTable tbody:last').append("<tr><td>" + data1 + "</td><td>" + data2 + "</td><td>" + data3 +"</td><td>" + data4 + "</td><td>" + data5+ "</td><td>" +"<button type='button' class='removePublication btn btn-danger' onclick='removePublication()'>Delete</button>" +"</td></tr>");

				$('#publicationName').val("");
				$('#journalName').val("");
				$('#publicationStatus').val("");
				$('#publicationUrl').val("");
				$('#publicationDoi').val("");
			}
		})
	}
</script>
<script>
	function removePublication(){
		$.ajax({
			url : "http://localhost:3000",
			type : 'GET',
			success:function(){
				$('.removePublication').click(function(){console.log($(this).parent().parent().remove())});
			},
			error : function(){
				console.log('error');
			}
		})
	}
</script>
<script>
	function addPresentation(){
		$.ajax({
			url : "http://localhost:3000",
			type : 'GET',
			success : function(){
				console.log("Add presentation function reached");
				var data1 = document.getElementById("presentationType").value;
				var data2 = document.getElementById("presentationTitle").value;
				var data3 = document.getElementById("presentationForum").value;
				
				if(document.getElementById("otherPresentationType").value != ""){
					data1 = document.getElementById("otherPresentationType").value;
					console.log(data1);
				}
				$('#presentationsAddTable tbody:last').append("<tr><td>" + data1 + "</td><td>" + data2 + "</td><td>" + data3 + "</td><td>" +"<button type='button' class='removePresentation btn btn-danger' onclick='removePresentation()'>Delete</button>" +"</td></tr>");
				$('#presentationType').val("");
				$('#presentationTitle').val("");
				$('#presentationForum').val("");
				$('#otherPresentationType').val("");
			}
		})
	}
</script>
<script>
	function removePresentation(){
		$.ajax({
			url : "http://localhost:3000",
			type:'GET',
			success : function(){
				console.log("Remove Presentation function reached");
				$('.removePresentation').click(function(){console.log($(this).parent().parent().remove())});
			},
			error:function(){
				console.log('error');
			}
		})
	}
</script>
<script>
	function displayOtherPresentationType(){
		$.ajax({
			url : "http://localhost:3000",
			type : 'GET',
			success : function(){
				console.log("enters here");
				if(document.getElementById("presentationType").value==="Other"){
					$('#otherPresentationTypeDiv').show();	
				}
				
			},
			error:function(){
				console.log("error");
			}
		})
	}
</script>
<script>
	function addConference(){
		$.ajax({
			url :'http://localhost:3000',
			type : 'GET',
			success : function(){
				console.log("Add conference function reached");
				var data1 = document.getElementById("conferenceName").value;
				
				
				$('#conferencesAddTable tbody:last').append("<tr><td>" + data1 + "</td><td>" + "<button type='button' class='removeConference btn btn-danger' onclick='removeConference()'>Delete</button>" +"</td></tr>");

				$('#conferenceName').val("");
			},
			error:function(){
				console.log("error");
			}
		})
	}
</script>
<script>
	function removeConference(){
		$.ajax({
			url:'http://localhost:3000',
			type:'GET',
			success : function(){
				console.log("remove conference enters here");
				$('.removeConference').click(function(){console.log($(this).parent().parent().remove())});
			},
			error:function(){
				console.log("error");
			}
		})
	}
</script>
<script>
	function addAward(){
		$.ajax({
			url :'http://localhost:3000',
			type : 'GET',
			success : function(){
				console.log("Add conference function reached");
				var data1 = document.getElementById("awardName").value;
				
				
				$('#awardsAddTable tbody:last').append("<tr><td>" + data1 + "</td><td>" + "<button type='button' class='removeConference btn btn-danger' onclick='removeConference()'>Delete</button>" +"</td></tr>");

				$('#awardName').val("");
			},
			error:function(){
				console.log("error");
			}
		})	
	}
</script>
<script>
	function removeAward(){
		$.ajax({
			url:"http://localhost:3000",
			type:'GET',
			success:function(){
				console.log("remove award enters here");
				$(".removeAward").click(function(){console.log($(this).parent().parent().remove())});
			},
			error:function(){
				console.log("error");
			}
		})
	}
</script>
<script>
	function displayEmployment(){
		$.ajax({
			url:"http://localhost:3000",
			type:'GET',
			success:function(){
				$('#sectionADiv').show();
				$('#sectionBDiv').show();
				$('#sectionCDiv').show();
				$('#employmentDiv').show();
			},
			error:function(){
				console.log("error");
			}

		})
	}
</script>
<script>
	function displaySectionABC(){
		$.ajax({
			url:'http://localhost:3000',
			type:'GET',
			success:function(){
				$('#sectionADiv').show();
				$('#sectionBDiv').show();
				$('#sectionCDiv').show();
				$('#employmentDiv').hide();
			},
			error:function(){
				console.log("error");
			}			
		})
	}
</script>
<script>

	$(document).ready(function(){
		var curtime = new Date();
		var month = curtime.getMonth();
		var year = curtime.getFullYear();
		if(month>=8){
			$('#academicYearFrom').val(year);
			$('#academicYearTo').val(year+1);
		}
		else{
			$('#academicYearFrom').val(year-1);
			$('#academicYearTo').val(year);	
		}
	})
</script>
<script>
	function displayAddNewCourseDiv(){
		$.ajax({
			url:'http://localhost:3000',
			type:'GET',
			success:function(){
				$('#addCourseRowDiv').show();
				$('#noCourseReasonDiv').hide();
				document.getElementById("reasonCourse").required=false;
			},
			error:function(){
				console.log("error");
			}			
		})
	}
</script>
<script>
	function displayNoCourseReasonDiv(){
		$.ajax({
			url:'http://localhost:3000',
			type:'GET',
			success:function(){
				$('#addCourseRowDiv').hide();
				$('#noCourseReasonDiv').show();
				document.getElementById("reasonCourse").required=true;
			},
			error:function(){
				console.log("error");
			}			
		})
	}
</script>
<script>
	function displayMembersAddDiv(){
		$.ajax({
			url:'http://localhost:3000',
			type:'GET',
			success:function(){
				$('#addMemberRowDiv').show();
				$('#noAdvisoryCommitteeReasonDiv').hide();
				document.getElementById("reasonAdvisoryCommittee").required=false;
			},
			error:function(){
				console.log("error");
			}			
		})	
	}
</script>
<script>
	function displayNoAdvisoryCommitteeReasonDiv(){
		$.ajax({
			url:'http://localhost:3000',
			type:'GET',
			success:function(){
				$('#addMemberRowDiv').hide();
				$('#noAdvisoryCommitteeReasonDiv').show();
				document.getElementById("reasonAdvisoryCommittee").required=true;
			},
			error:function(){
				console.log("error");
			}			
		})	
	}
</script>

</head>
<body>
	<form method="POST" action="#">
	<div class="container">
		<div class="panel panel-info">
			<div class="panel-heading">Introductory Section</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-4"> 
							<label class="control-label" for="degreeSelect">
								Doctoral Degree Program
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-4"> 
							<select id="degree" class="form-control" name="degreeSelect" required>
								<option value="initial" disabled selected="selected">Select a degree Program</option>
								<%degrees = ["Applied Mathematics","Mathematics","Mathematics Education","Statistics"];%>
								<%degrees.forEach(function(degree){%>
								<option value=<%=degree%>><%=degree%></option>
								<%});%>    						
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-4">
							<label class="control-label" for="mastersInPassing">
								Have you applied for Master's in Passing?
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-1">
							<label class="control-label" for="mastersInPassingYes">
								Yes
							</label>
						</div>
						<div class="col-md-1">
							<input type="radio" id="mastersInPassingYes" name="mastersInPassing" value="1" required>
						</div>
						<div class="col-md-1">
							<label class="control-label" for="mastersInPassingNo">
								No
							</label>

						</div>
						<div class="col-md-1">
							<input type="radio" id="mastersInPassingNo" name="mastersInPassing" value="0">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-4">
							<label class="control-label" for="graduation">
								Are you graduating this year?(Students graduating in summer should answer "yes" as well)
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-1">
							<label class="control-label" for="graduationYes">
								Yes
							</label>
						</div>
						<div class="col-md-1">
							<input type="radio" id="graduationYes" name="graduation" value="1" onclick="displayEmployment()" required>
						</div>
						<div class="col-md-1">
							<label class="control-label" id="graduationNo" for="graduation">
								No
							</label>

						</div>
						<div class="col-md-1">
							<input type="radio" id="graduationNo" name="graduation" value="0" onclick="displaySectionABC()">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Employment survey div starts -->
		<div class="panel panel-info" id="employmentDiv" style="display:none;">
			<div class="panel-heading">Employment Survey</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-6">
							<label class="control-label" for="emailExtra">
								Please enter an email where you can be contacted after you leave ASU
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-3">
							<input class="form-control" id="emailExtra" type="email" name="emailExtra">
						</div>
					</div>

				</div>
				<div class="row">
						<div class="form-group pad">
							<div class="col-md-5">
								<label class="control-label" for="acceptance">
									Do you have employment after graduation?
								</label>	
							</div>
							<div class="col-md-1">
								<label class="control-label" for="employment">
									Yes
								</label>
							</div>
							<div class="col-md-1">
								<input type="radio" id="employment" name="employment">
							</div>
							<div class="col-md-1">
								<label class="control-label" for="employment">
									No
								</label>

							</div>
							<div class="col-md-1">
								<input type="radio" id="employmentNo" name="employment">
							</div>
						</div>
					</div>

			</div>	
		</div>
		<!-- Section A starts -->
		<div class="panel panel-info" id="sectionADiv" style="display:none;">
			<div class="panel-heading">Section A | Program of Study - Status</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-3"> 
						<label class="control-label">
							Academic Year
							<sup class="star">*</sup>
						</label>
					</div>
					<div class="col-md-1"> 
						<label class="control-label" for="academicYearFrom">Fall</label>
					</div>
					<div class="col-md-1" > 
						<input class="form-control" type="text" id="academicYearFrom" name="academicYearFrom" required disabled>
					</div>
					<div class="col-md-2"> 
						<label class="control-label" for="academicYearTo">Spring/Summer</label>
					</div>
					<div class="col-md-1"> 
						<input class="form-control" type="text" id="academicYearTo" name="academicYearTo" required disabled>
					</div>

				</div>
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-3">
							<label class="control-label" for="firstName">
								First Name
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-2">
							<input class="form-control" type="text" id="firstName" name="firstName" required>
						</div>
						<div class="col-md-2">
							<label class="control-label" for="lastName">
								LastName
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-2">
							<input class="form-control" type="text" id="lastName" name="lastName" required>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-3">
							<label class="control-label" for="idNumber">
								ASU ID/Student ID Number
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-2">
							<input class="form-control" type="text" id="idNumber" name="idNumber" required>
						</div>
						<div class="col-md-2">
							<label class="control-label" for="asurite">
								ASURITE ID
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-2">
							<input class="form-control" type="text" id="asurite" name="asurite" required>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group pad">
						<div class="col-md-3">
							<label class="control-label" for="programStartDate">
								Program Start Date
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-2">
							<input class="form-control" type="month" id="programStartDate" name="programStartDate" required>
						</div>
						<div class="col-md-2">
							<label class="control-label" for="asurite">
								Semester in Progress
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-2">
							<select id="currentSemester" class="form-control" name="currentSemester" required>
								<option value="initial" disabled selected="selected">current semester</option>
								<%for(var i=1;i<=20;i++){%>
								<option value=<%=i%>><%=i%></option>
								<%}%>    						
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-3">
							<label class="control-label" for="gpa">
								Cumulative GPA
								<sup class="star">*</sup>
							</label>	
						</div>
						<div class="col-md-2">
							<input type="text" id="gpa" name="gpa" class="form-control" required>
						</div>
					</div>
				</div>

				<hr>
				<!--<font size="2">
					<i><u>Courses taken previously</u></i>
				</font>
				<table class="table table-hover">
					<tr>
						<th>S.No.</th>
						<th>Course</th>
						<th>Grade</th>
					</tr>
				</table> -->
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-4">
							<label class="control-label" for="coursesAdd">
								Do you want to add courses for the current year?
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-1">
							<label class="control-label" for="coursesAdd">
								Yes
							</label>
						</div>
						<div class="col-md-1">
							<input type="radio" id="coursesAddYes" name="coursesAdd" onclick="displayAddNewCourseDiv()"required>
						</div>
						<div class="col-md-1">
							<label class="control-label" for="coursesAdd">
								No
							</label>

						</div>
						<div class="col-md-1">
							<input type="radio" id="coursesAddNo" onclick="displayNoCourseReasonDiv()" name="coursesAdd">
						</div>
					</div>
				</div>
				<table class="table table-hover pad" id="courseAddTable">
					<tr>
						<th>Course</th>
						<th>Grade</th>
						<th>Action</th>
					</tr>

				</table>
				<div class="row" id="addCourseRowDiv" style="display:none;">
					<div class="form-group pad">
						<div class="col-md-2">
							<label class="control-label" for="coursesName">
								Course Name
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-2">
							<input type="text" id="courseName" class="form-control" name="courseName">
						</div>
						<div class="col-md-2">
							<label class="control-label" for="courseGrade">
								Grade
							</label>
						</div>
						<div class="col-md-2">
							<input type="text" id="courseGrade" class="form-control" name="courseGrade">
						</div>
						<div class="col-md-2">
						</div>
						<div class="col-md-2">
							
							<button type="button" id="addCourseButton" class="btn btn-success" onclick="addNewCourse()"> Add Course </button>
						</div>

					</div>

				</div>
				<div id="noCourseReasonDiv" style="display:none;">
					<div class="row">
						<div class="form-group pad">
							<div class="col-md-5">
								<label class="control-label" for="reasonCourse">
									Please specify reason for not taking courses this year
									<sup class="star">*</sup>
								</label>
							</div>
						</div>
					</div>
					<div class="form-group pad">
						<textarea class="form-control" id="reasonCourse" name="reasonCourse" rows="3" cols="100" placeholder="Enter reason here"></textarea>
					</div>

				</div>
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-4">
							<label class="control-label" for="membersAdd">
								Do you want to add members to the advisory committee?
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-1">
							<label class="control-label" for="membersAdd">
								Yes
							</label>
						</div>
						<div class="col-md-1">
							<input type="radio" id="membersAddYes" name="membersAdd" onclick="displayMembersAddDiv()" required>
						</div>
						<div class="col-md-1">
							<label class="control-label" for="membersAdd">
								No
							</label>

						</div>
						<div class="col-md-1">
							<input type="radio" id="membersAddNo" name="membersAdd" onclick="displayNoAdvisoryCommitteeReasonDiv()">
						</div>
					</div>
				</div>
				<table class="table table-hover pad" id="memberAddTable">
					<tr>
						<th>Member Position</th>
						<th>Member Name</th>
						<th>Member Email ID</th>
					</tr>

				</table>
				<div class="row" id="addMemberRowDiv" style="display:none;">
					<div class="form-group pad">
						<div class="col-md-1">
							<label class="control-label" for="memberPosition">
								Member Position
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-2">
							<select id="memberPosition" class="form-control" name="memberPosition" >
								<option value="initial" disabled selected="selected"></option>
								<option value="CHAIR">CHAIR</option>
								<option value="CO_CHAIR">CO-CHAIR</option>
								<option value="MEMBER">MEMBER</option>
							</select>
						</div>
						<div class="col-md-1">
							<label class="control-label" for="memberName">
								Member Name
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-2">
							<input type="text" id="memberName" class="form-control" name="memberName">
						</div>
						<div class="col-md-1">
							<label class="control-label" for="memberEmail">
								Email ID
							</label>
						</div>
						<div class="col-md-3">
							<input type="email" id="memberEmail" class="form-control" name="memberEmail">
						</div>
						<div class="col-md-1">
							<!-- <button id="addCourse" onclick="add()">Add Course</button> -->
							<button id="addCourse" class="btn btn-success" onclick="addMember()" type="button"> Add Member </button>
						</div>

					</div>

				</div>
				<div id="noAdvisoryCommitteeReasonDiv" style="display:none;">
					<div class="row">
						<div class="form-group pad">
							<div class="col-md-5">
								<label class="control-label" for="reasonAdvisoryCommittee">
									Please specify reason for not having an AdvisoryCommittee
									<sup class="star">*</sup>
								</label>
							</div>
						</div>
					</div>
					<div class="form-group pad">
						<textarea class="form-control" id="reasonAdvisoryCommittee" name="reasonAdvisoryCommittee" rows="3" cols="100" placeholder="Enter reason here"></textarea>
					</div>

				</div>
				<div id="metChairDiv">
					<div class="row">
						<div class="form-group pad">
							<div class="col-md-4">
								<label class="control-label" for="metChair">
									Have you met with the Chair in the current academic year?
									<sup class="star">*</sup>
								</label>
							</div>
							<div class="col-md-1">
								<label class="control-label" for="metChair">
									Yes
								</label>
							</div>
							<div class="col-md-1">
								<input type="radio" id="metChairYes" name="metChair" required>
							</div>
							<div class="col-md-1">
								<label class="control-label" for="coursesAddNo">
									No
								</label>

							</div>
							<div class="col-md-1">
								<input type="radio" id="metChairNo" name="metChair">
							</div>
						</div>
					</div>
					<div id="notMetChairReasonDiv">
						<div class="row">
							<div class="form-group pad">
								<div class="col-md-4">
									<label class="control-label" for="reasonNotMetChair">
										Please specify reason for not having met the chair
										<sup class="star">*</sup>
									</label>
								</div>
							</div>
						</div>
						<div class="form-group pad">
							<textarea class="form-control" name="reasonNotMetChair" rows="3" cols="100" placeholder="Enter reason here"></textarea>
						</div>
					</div>

				</div>
			</div> <!-- this div is for panel body -->
			<!-- Section B starts -->
		</div>
		<div class="panel panel-info" id="sectionBDiv" style="display:none;">
			<div class="panel-heading">Section B | Student Progress</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-4">
							<label class="control-label" for="prospectusDefense">
								Have you completed Prospectus Defense?
								<sup class="star">*</sup>
							</label>

						</div>
						<div class="col-md-1">
							<label class="control-label" for="prospectusDefenseCompleted">
								Yes
							</label>
						</div>
						<div class="col-md-1">
							<input type="radio" id="coursesAddYes" name="prospectusDefenseCompleted" value="1" required>
						</div>
						<div class="col-md-1">
							<label class="control-label" for="prospectusDefenseCompleted">
								No
							</label>

						</div>
						<div class="col-md-1">
							<input type="radio" id="coursesAddNo" name="prospectusDefenseCompleted" value="0">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group pad">
						<fieldset>
							<div class="col-md-3">
								<label class="control-label" for="prospectusDefenseAnticipatedDate">
									Anticipated date for Prospectus Defense
									<sup class="star">*</sup>
								</label>
							</div>
							<div class="col-md-1">
								<label class="control-label" for="prospectusAnticipatedDateSession">
									Semester
								</label>
							</div>
							<div class="col-md-2">
								<select class="form-control" id="prospectusAnticipatedDateSession" name="prospectusAnticipatedDateSession">
									<option value="session" disabled selected="selected">--session--</option>
									<option value="Spring">Spring</option>
									<option value="Summer">Summer</option>
									<option value="Fall">Fall</option>
								</select>
							</div>
							<div class="col-md-1">
								<label class="control-label" for="prospectusAnticipatedDateYear" name="prospectusAnticipatedDateYear">
									Year
								</label>
								
							</div>
							<div class="col-md-2">
								<select class="form-control" id="prospectusAnticipatedDateYear" name="prospectusAnticipatedDateYear">
									<option value="year" disabled selected="selected"> Year </option>
									<%for(var i=2018;i<=2030;i++){%>
									<option value=<%=i%>><%=i%></option>
									<%}%>
								</select>
							</div>
						</fieldset>
					</div>
				</div>
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-4">
							<label class="control-label" for="mtbi">
								Have you participated in MTBI?
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-1">
							<label class="control-label" for="mtbiParticipation">
								Yes
							</label>
						</div>
						<div class="col-md-1">
							<input type="radio" id="mtbiParticipationYes" name="mtbiParticipation" required value="1">
						</div>
						<div class="col-md-1">
							<label class="control-label" for="mtbiParticipation">
								No
							</label>
						</div>
						<div class="col-md-1">
							<input type="radio" id="mtbiParticipationNo" name="mtbiParticipation" value="0">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<div class="col-md-4">
							<label class="control-label" for="mtbiParticipationYear">
								Year of MTBI participation
							</label>
						</div>
						<div class="col-md-2">
							<select class="form-control" id="prospectusAnticipatedDateYear" name="prospectusAnticipatedDateYear">
								<option value="year" disabled selected="selected"> Year </option>
								<%for(var i=2000;i<=2030;i++){%>
								<option value=<%=i%>><%=i%></option>
								<%}%>
							</select>
						</div>
						<div class="col-md-1">
							<label class="control-label" for="mtbiParticipationRole">
								Role
							</label>
						</div>
						<div class="col-md-2">
							<select class="form-control" id="mtbiParticipationRole" name="mtbiParticipationRole">
								<option value="role" disabled selected="selected">Role</option>
								<option value="Undergraduate Participant">Undergraduate Participant</option>
								<option value="Graduate Participant">Graduate Participant</option>
								<option value="Mentor">Mentor/Tutor</option>
							</select>
						</div>
					</div>
					
				</div>
				<div class="row">
					<div class="form-group pad">
						<fieldset>
							<div class="col-md-3">
								<label class="control-label" for="mtbiAnticipated">
									Anticipated date for MTBI participation
									<sup class="star">*</sup>
								</label>
							</div>
							<div class="col-md-1">
								<label class="control-label" for="mtbiAnticipatedDateSession">
									Semester
								</label>
							</div>
							<div class="col-md-2">
								<select class="form-control" id="prospectusAnticipatedDateSession" name="prospectusAnticipatedDateSession">
									<option value="session" disabled selected="selected">--session--</option>
									<option value="Spring">Spring</option>
									<option value="Summer">Summer</option>
									<option value="Fall">Fall</option>
								</select>
							</div>
							<div class="col-md-1">
								<label class="control-label" for="prospectusAnticipatedDateYear" name="prospectusAnticipatedDateYear">
									Year
								</label>
								
							</div>
							<div class="col-md-2">
								<select class="form-control" id="prospectusAnticipatedDateYear" name="prospectusAnticipatedDateYear">
									<option value="year" disabled selected="selected"> Year </option>
									<%for(var i=2018;i<=2030;i++){%>
									<option value=<%=i%>><%=i%></option>
									<%}%>
								</select>
							</div>
						</fieldset>
					</div>
				</div>
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-4">
							<label class="control-label" for="publications">
								Do you want to add publications for the current year?
							</label>
						</div>
						<div class="col-md-1">
							<label class="control-label" for="publicationsExist">
								Yes
							</label>
						</div>
						<div class="col-md-1">
							<input type="radio" id="publicationsExistYes" name="publicationsExist" value="1" required> 
						</div>
						<div class="col-md-1">
							<label class="control-label" for="publicationsExist">
								No
							</label>
						</div>
						<div class="col-md-1">
							<input type="radio" id="publicationsExistNo" name="publicationsExist" value="0"> 
						</div>

					</div>

				</div>	
				<table class="table table-hover pad" id="publicationsAddTable">
					<tr>
						<th class="col-md-2">Publication</th>
						<th class="col-md-2">Journal</th>
						<th class="col-md-2">Status</th>
						<th class="col-md-3">URL</th>
						<th class="col-md-2">DOI</th>
						<th class="col-md-1">Action</th>
					</tr>

				</table>
				<div class="row" id="addPublicationRowDiv">
					<div class="form-group pad">
						<div class="col-md-2">
							<label class="control-label" for="publicationName">
								Publication Name
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-2">
							<input type="text" id="publicationName" class="form-control" name="publicationName">
						</div>
						<div class="col-md-2">
							<label class="control-label" for="journalName">
								Journal Name
							</label>
						</div>
						<div class="col-md-2">
							<input type="text" id="journalName" class="form-control" name="journalName">
						</div>
						<div class="col-md-2">
							<label class="control-label" for="publicationStatus">
								Status
							</label>
						</div>
						<div class="col-md-2">
							<select id="publicationStatus" class="form-control" name="publicationStatus">
								<option value="disabled" disabled selected="selected">--status--</option>
								<option value="Submitted">Submitted</option>
								<option value="Accepted">Accepted</option>
								<option value="Published">Published</option>
								<option value="ArXiv">ArXiv</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row" id="publicationUrlDiv">
					<div class="form-group pad">
						<div class="col-md-2">
							<label class="control-label" for="publicationUrl">
								Publication URL
							</label>						
						</div>
						<div class="col-md-4">
							<input class="form-control" type="url" id="publicationUrl" name="publicationUrl">
						</div>
					</div>
				</div>
				<div class="row" id="publicationDoiDiv">
					<div class="form-group pad">
						<div class="col-md-2">
							<label class="control-label" for="publicationDoi">
								Publication DOI
							</label>						
						</div>
						<div class="col-md-4">
							<input class="form-control" type="url" id="publicationDoi" name="publicationDoi">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-2">
							<!-- <button id="addCourse" onclick="add()">Add Course</button> -->
							<button id="addPublication" class="btn btn-success" onclick="addPublication()" type="button"> Add Publication </button>
						</div>

					</div>
				</div>

				<!-- Presentations begins here -->
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-4">
							<label class="control-label" for="presentations">
								Do you want to add presentations for the current year?
							</label>
						</div>
						<div class="col-md-1">
							<label class="control-label" for="presentationsExist">
								Yes
							</label>
						</div>
						<div class="col-md-1">
							<input type="radio" id="presentationsExistYes" name="presentationsExist" value="1" required> 
						</div>
						<div class="col-md-1">
							<label class="control-label" for="presentationsExist">
								No
							</label>
						</div>
						<div class="col-md-1">
							<input type="radio" id="presentationsExistNo" name="presentationsExist" value="0"> 
						</div>

					</div>

				</div>	
				<table class="table table-hover pad" id="presentationsAddTable">
					<tr>
						<th class="col-md-3">Presentation</th>
						<th class="col-md-3">Title</th>
						<th class="col-md-3">Forum</th>
					</tr>

				</table>
				<div class="row" id="addPresentationRowDiv">
					<div class="form-group pad">
						<div class="col-md-2">
							<label class="control-label" for="presentationType">
								Presenation Type
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-2">
							<select id="presentationType" class="form-control" name="presentationType" onchange="displayOtherPresentationType()">
								<option value="disabled" disabled selected="selected">--Type--</option>
								<option value="Conference Talk">Conference Talk</option>
								<option value="Poster">Poster</option>
								<option value="Seminar">Seminar</option>
								<option value="Other" >Other</option>
							</select>	
						</div>
						<div class="col-md-2">
							<label class="control-label" for="presentationTitle">
								Title
							</label>
						</div>
						<div class="col-md-2">
							<input type="text" id="presentationTitle" class="form-control" name="presentationTitle">
						</div>
						<div class="col-md-2">
							<label class="control-label" for="presenationForum">
								Forum
							</label>
						</div>
						<div class="col-md-2">
							<input type="text" id="presentationForum" class="form-control" name="presentationForum">
						</div>
					</div>
					
				</div>
				<div class="row" id="otherPresentationTypeDiv" style="display:none;">
					<div class="form-group pad">
						<div class="col-md-4">
							<label class="control-label" for="otherPresentationType">
								Please specify other presentation type
							</label>
						</div>
						<div class="col-md-5">
							<input type="text" id="otherPresentationType" class="form-control" name="otherPresentationType">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group pad">
						<div class="col-md-2">
							<button id="addPresentation" class="btn btn-success" onclick="addPresentation()" type="button"> Add Presentation </button>
						</div>

					</div>
				</div>

				<div class="row">
					<div class="form-group pad">
						<div class="col-md-4">
							<label class="control-label" for="conferences">
								Do you want to add Conferences for the current year?
							</label>
						</div>
						<div class="col-md-1">
							<label class="control-label" for="conferencesExist">
								Yes
							</label>
						</div>
						<div class="col-md-1">
							<input type="radio" id="conferencesExistYes" name="conferencesExist" value="1" required> 
						</div>
						<div class="col-md-1">
							<label class="control-label" for="conferencesExist">
								No
							</label>
						</div>
						<div class="col-md-1">
							<input type="radio" id="conferencesExistNo" name="conferencesExist" value="0"> 
						</div>

					</div>

				</div>	
				<table class="table table-hover pad" id="conferencesAddTable">
					<tr>
						<th class="col-md-3">Conference Name</th>
						<th class="col-md-2">Action</th>
					</tr>

				</table>
				<div class="row" id="addConferenceRowDiv">
					<div class="form-group pad">
						<div class="col-md-2">
							<label class="control-label" for="conferenceName">
								Conference Name
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-2">
							<input type="text" id="conferenceName" class="form-control" name="conferenceName">
						</div>
					</div>
					
				</div>
				
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-2">
							<!-- <button id="addCourse" onclick="add()">Add Course</button> -->
							<button id="addConference" class="btn btn-success" onclick="addConference()" type="button"> Add Presentation </button>
						</div>

					</div>
				</div>

				<div class="row">
					<div class="form-group pad">
						<div class="col-md-4">
							<label class="control-label" for="awards">
								Do you want to add Awards for the current year?
							</label>
						</div>
						<div class="col-md-1">
							<label class="control-label" for="awardsExist">
								Yes
							</label>
						</div>
						<div class="col-md-1">
							<input type="radio" id="awardsExistYes" name="awardsExist" value="1" required> 
						</div>
						<div class="col-md-1">
							<label class="control-label" for="awardsExist">
								No
							</label>
						</div>
						<div class="col-md-1">
							<input type="radio" id="awardsExistNo" name="awardsExist" value="0"> 
						</div>

					</div>

				</div>	
				<table class="table table-hover pad" id="awardsAddTable">
					<tr>
						<th class="col-md-3">Award</th>
						<th class="col-md-2">Action</th>
					</tr>

				</table>
				<div class="row" id="addAwardRowDiv">
					<div class="form-group pad">
						<div class="col-md-2">
							<label class="control-label" for="awardName">
								Award
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-4">
							<input type="text" id="awardName" class="form-control" name="awardName">
						</div>

					</div>
					
				</div>
				
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-2">
							<!-- <button id="addCourse" onclick="add()">Add Course</button> -->
							<button id="addAward" class="btn btn-success" onclick="addAward()" type="button"> Add Award </button>
						</div>

					</div>
				</div>
			</div> <!-- this div is for panel body -->


		</div>
		<div class="panel panel-info" id="sectionCDiv" style="display:none;">
			<div class="panel-heading">Section C | Program of Study - Status</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-6">
							<label class="control-label" for="extraInfo">
								Please enter any other information you wish to add to this form
								<sup class="star">*</sup>
							</label>
						</div>
					s</div>
				</div>
				<div class="form-group pad">
					<textarea class="form-control" id="extraInfo" name="extraInfo" rows="3" cols="100" placeholder="Enter reason here"></textarea>
				</div>
				<div class="row">
					<div class="col-md-1">
						<input type="checkbox" id="acceptance" name="acceptance" value="1" required>
					</div>
					<div class="col-md-5">
						<label class="control-label" for="acceptance">
							I certify that all the information is true and complete to the best of my knowledge
						</label>	
					</div>
				</div>
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-2">
							<!-- <button id="addCourse" onclick="add()">Add Course</button> -->
							<button id="addAward" class="btn btn-success" type="submit"> Submit form </button>
						</div>

					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
</form>

</body>
</html>
