<!DOCTYPE html>
<html>
<head>
	<title>MCMSC form</title>
	<h3><strong><center>MCMSC form</center></strong></h3>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/core.js"></script> -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<style>
	.star{
		color:red;
	}
	.pad{
		padding-top: 10px;
		padding-bottom: 10px;
	}
</style>
<script type="text/javascript">
	function addNewCourse(){
		$.ajax({
			url : "https://mathesis.asu.edu:3000",
			type : 'GET',
			success : function() {
				console.log("reached here");

				var error = false;
				var data1 = document.getElementById("courseName").value;
				var data2 = document.getElementById("courseGrade").value;
				if(data1 === "" || data2 === ""){
					console.log("1");
					error = true;
				}
				if(error){
					console.log("2");
					if(data1==="" && data2==="")
					{
						console.log(3);
						alert("Please fill the course details correctly!");
					}
					else if(data1===""){
						console.log(4);
						alert("Please fill the course name correctly!");
					}
					else if(data2===""){
						console.log(5);
						alert("Please fill the course grade correctly!");
					}

				}
				else{
					console.log(6);
				$('#courseAddTable tbody:last').append("<tr><td>" + data1 + "</td><td>" + data2 + "</td><td>" + "<button type='button' class='removeCourse btn btn-danger' onclick='removeCourse()'>delete</button>" +"</td></tr>");
				$("#courseName").val("");
				$("#courseGrade").val("");
				console.log(7);
				
				var table = document.getElementById("courseAddTable");
				console.log(table);
				var listOfObjects = [];
				var att = [];
				
				for(var i=1, row; row = table.rows[i];i++){
					
					for(var j=0,col; col=row.cells[j];j++){
						att[j] = table.rows[i].cells[j].innerHTML;
					}
					listOfObjects.push({
						course : att[0],
						grade : att[1]
					});
				}
				for(var i = 0; i<listOfObjects.length; i++){
					console.log(listOfObjects[i]);
				}
				document.getElementById("courseAddTableHiddenInput").value = JSON.stringify(listOfObjects);
			}
		}, 
			error : function() {
				console.log('error');
			}
		});
	}
</script>
<script>
	function removeCourse(){
		$.ajax({
			url : "https://mathesis.asu.edu:3000",
			type : 'GET',
			success : function() {
				$('.removeCourse').click(function(){console.log($(this).parent().parent().remove())});    	        	    
        		//$('.remove').parents('tr').first().remove();

        	},
        	error : function() {
        		console.log('error');
        	}
        });

	} 
</script>
<script type="text/javascript">
	function addMember(){
		$.ajax({
			url : "https://mathesis.asu.edu:3000",
			type : 'GET',
			success : function() {
				console.log("reached here");
				var data1 = document.getElementById("memberPosition").value;
				var data2 = document.getElementById("memberName").value;
				var data3 = document.getElementById("memberEmail").value;
				var error = false;
				if(data1 === "initial" || data2 ==="" || data3 ===""){
					alert("Please fill the Advisory Committee member details correctly");
					error=true;
				}

				if(!error){ 
				$('#memberAddTable tbody:last').append("<tr><td>" + data1 + "</td><td>" + data2 + "</td><td>" + data3 + "</td><td>" +"<button type='button' class='removeMember btn btn-danger' onclick='removeMember()'>Delete</button>" +"</td></tr>");
				$("#memberName").val("");
				$("#memberPosition").val("");
				$("#memberEmail").val(""); 
				var table = document.getElementById("memberAddTable");
				console.log(table);
				var listOfObjects = [];
				var att = [];
				
				for(var i=1, row; row = table.rows[i];i++){
					
					for(var j=0,col; col=row.cells[j];j++){
						att[j] = table.rows[i].cells[j].innerHTML;
					}
					listOfObjects.push({
						memberPosition : att[0],
						memberName : att[1],
						memberEmail : att[2]
					});
				}
				for(var i = 0; i<listOfObjects.length; i++){
					console.log(listOfObjects[i]);
				}
				document.getElementById("memberAddTableHiddenInput").value = JSON.stringify(listOfObjects);
				
				}        	    
			},
			error : function() {
				console.log('error');
			}
		});
	}
</script>
<script>
	function removeMember(){
		$.ajax({
			url : "https://mathesis.asu.edu:3000",
			type : 'GET',
			success : function() {
				$('.removeMember').click(function(){console.log($(this).parent().parent().remove())});    	        	    
        		//$('.remove').parents('tr').first().remove();

        	},
        	error : function() {
        		console.log('error');
        	}
        });

	} 
</script>
<script>
	function addNewPublication(){
		$.ajax({
			url : "https://mathesis.asu.edu:3000",
			type : 'GET',
			success : function(){
				console.log("add publication function reached");
				var data1 = document.getElementById("publicationName").value;
				var data2 = document.getElementById("journalName").value;
				var data3 = document.getElementById("publicationStatus").value;
				var data4 = document.getElementById("publicationUrl").value;
				var data5 = document.getElementById("publicationDoi").value;
				var error=false;
				if(data1 === "" || data2 ==="" || data3 ===""){
					error = true;
					alert("Please fill in the publication details correctly!");
				}
				else if(data3==="Published"&&data4===""){
					error = true;
					alert("Please fill in the publication URL correctly!");
				}
				else if(data3==="ArXiv" && data5===""){
					error = true;
					alert("Please fill in the publication DOI correctly!");
				}
				else{
					error = false;
				}
				if(!error){
				$('#publicationsAddTable tbody:last').append("<tr><td>" + data1 + "</td><td>" + data2 + "</td><td>" + data3 +"</td><td>" + data4 + "</td><td>" + data5+ "</td><td>" +"<button type='button' class='removePublication btn btn-danger' onclick='removePublication()'>Delete</button>" +"</td></tr>");

				$('#publicationName').val("");
				$('#journalName').val("");
				$('#publicationStatus').val("");
				$('#publicationUrl').val("");
				$('#publicationDoi').val("");
				
				var table = document.getElementById("publicationsAddTable");
				console.log(table);
				var listOfObjects = [];
				var att = [];
				
				for(var i=1, row; row = table.rows[i];i++){
					
					for(var j=0,col; col=row.cells[j];j++){
						att[j] = table.rows[i].cells[j].innerHTML;
					}
					listOfObjects.push({
						publication : att[0],
						journal : att[1],
						status : att[2],
						url	: att[3],
						doi : att[4]
					});
				}
				for(var i = 0; i<listOfObjects.length; i++){
					console.log(listOfObjects[i]);
				}
				document.getElementById("publicationAddTableHiddenInput").value = JSON.stringify(listOfObjects);
				}
			}
		})
	}
</script>
<script>
	function removePublication(){
		$.ajax({
			url : "https://mathesis.asu.edu:3000",
			type : 'GET',
			success:function(){
				$('.removePublication').click(function(){console.log($(this).parent().parent().remove())});
			},
			error : function(){
				console.log('error');
			}
		})
	}
</script>
<script>
	function addNewPresentation(){
		$.ajax({
			url : "https://mathesis.asu.edu:3000",
			type : 'GET',
			success : function(){
				console.log("Add presentation function reached");
				var data1 = document.getElementById("presentationType").value;
				var data2 = document.getElementById("presentationTitle").value;
				
				var data4 = document.getElementById("otherPresentationType").value;
				var error = false;
				if(data1 === "" || data2 === ""){
					error = true;
					alert("Please fill in the presentation details properly");
				}

				if(data1 === "Other" && data4 ===""){
					error = true;
					alert("Please fill in the Other Presentation type properly");
				}
				
				if(!error){
				if(document.getElementById("otherPresentationType").value != ""){
					data1 = document.getElementById("otherPresentationType").value;
					console.log(data1);
				}


				$('#presentationsAddTable tbody:last').append("<tr><td>" + data1 + "</td><td>" + data2 + "</td><td>" +"<button type='button' class='removePresentation btn btn-danger' onclick='removePresentation()'>Delete</button>" +"</td></tr>");
				$('#presentationType').val("");
				$('#presentationTitle').val("");
				
				$('#otherPresentationType').val("");
				var table = document.getElementById("presentationsAddTable");
				console.log(table);
				var listOfObjects = [];
				var att = [];
				
				for(var i=1, row; row = table.rows[i];i++){
					
					for(var j=0,col; col=row.cells[j];j++){
						att[j] = table.rows[i].cells[j].innerHTML;
					}
					listOfObjects.push({
						type : att[0],
						title : att[1],
					});
				}
				for(var i = 0; i<listOfObjects.length; i++){
					console.log(listOfObjects[i]);
				}
				document.getElementById("presentationAddTableHiddenInput").value = JSON.stringify(listOfObjects);
			}
			}
		})
	}
</script>
<script>
	function removePresentation(){
		$.ajax({
			url : "https://mathesis.asu.edu:3000",
			type:'GET',
			success : function(){
				console.log("Remove Presentation function reached");
				$('.removePresentation').click(function(){console.log($(this).parent().parent().remove())});
			},
			error:function(){
				console.log('error');
			}
		})
	}
</script>
<script>
	function displayOtherPresentationType(){
		$.ajax({
			url : "https://mathesis.asu.edu:3000",
			type : 'GET',
			success : function(){
				console.log("enters here");
				if(document.getElementById("presentationType").value==="Other"){
					$('#otherPresentationTypeDiv').show();	
				}
				else{
					$('#otherPresentationTypeDiv').hide();	
				}
				
			},
			error:function(){
				console.log("error");
			}
		})
	}
</script>
<script>
	function addNewConference(){
		$.ajax({
			url :'https://mathesis.asu.edu:3000',
			type : 'GET',
			success : function(){
				console.log("Add conference function reached");
				var data1 = document.getElementById("conferenceName").value;
				var data2 = document.getElementById("conferencesPresented").value;
				console.log(data2);
				var error = false;
				if(data1 === "" || data2 === ""){
					error = true;
					alert("Please fill in the conference details properly");
				}

				if(!error){
				
				$('#conferencesAddTable tbody:last').append("<tr><td>" + data1 + "</td><td>" + data2 + "</td><td><button type='button' class='removeConference btn btn-danger' onclick='removeConference()'>Delete</button>" +"</td></tr>");

				$('#conferenceName').val(""); 
				var table = document.getElementById("conferencesAddTable");
				console.log(table);
				var listOfObjects = [];
				var att = [];
				
				for(var i=1, row; row = table.rows[i];i++){
					
					for(var j=0,col; col=row.cells[j];j++){
						att[j] = table.rows[i].cells[j].innerHTML;
					}
					listOfObjects.push({
						conference : att[0],
						presented : att[1]
						
					});
				}
				for(var i = 0; i<listOfObjects.length; i++){
					console.log(listOfObjects[i]);
				}
				document.getElementById("conferenceAddTableHiddenInput").value = JSON.stringify(listOfObjects);
				}
			},
			error:function(){
				console.log("error");
			}
		})
	}
</script>
<script>
	function removeConference(){
		$.ajax({
			url:'https://mathesis.asu.edu:3000',
			type:'GET',
			success : function(){
				console.log("remove conference enters here");
				$('.removeConference').click(function(){console.log($(this).parent().parent().remove())});
			},
			error:function(){
				console.log("error");
			}
		})
	}
</script>
<script>
	function addNewAward(){
		$.ajax({
			url :'https://mathesis.asu.edu:3000',
			type : 'GET',
			success : function(){
				console.log("Add conference function reached");
				var data1 = document.getElementById("awardName").value;
				var error = false;
				if(data1 === ""){
					error = true;
					alert("Please fill in the award properly!");
				}
				
				if(!error){
				$('#awardsAddTable tbody:last').append("<tr><td>" + data1 + "</td><td>" + "<button type='button' class='removeConference btn btn-danger' onclick='removeConference()'>Delete</button>" +"</td></tr>");

				$('#awardName').val("");
				var table = document.getElementById("awardsAddTable");
				console.log(table);
				var listOfObjects = [];
				var att = [];
				
				for(var i=1, row; row = table.rows[i];i++){
					
					for(var j=0,col; col=row.cells[j];j++){
						att[j] = table.rows[i].cells[j].innerHTML;
					}
					listOfObjects.push({
						award : att[0],
						
					});
				}
				for(var i = 0; i<listOfObjects.length; i++){
					console.log(listOfObjects[i]);
				}
				document.getElementById("awardAddTableHiddenInput").value = JSON.stringify(listOfObjects);
				}
			},
			error:function(){
				console.log("error");
			}
		})	
	}
</script>
<script>
	function removeAward(){
		$.ajax({
			url:"https://mathesis.asu.edu:3000",
			type:'GET',
			success:function(){
				console.log("remove award enters here");
				$(".removeAward").click(function(){console.log($(this).parent().parent().remove())});
			},
			error:function(){
				console.log("error");
			}
		})
	}
</script>
<script>
	function displayEmployment(){
		$.ajax({
			url:"https://mathesis.asu.edu:3000",
			type:'GET',
			success:function(){
				$('#sectionADiv').show();
				$('#sectionBDiv').show();
				$('#sectionCDiv').show();
				$('#employmentDiv').show();
			},
			error:function(){
				console.log("error");
			}

		})
	}
</script>
<script>
	function displaySectionABC(){
		$.ajax({
			url:'https://mathesis.asu.edu:3000',
			type:'GET',
			success:function(){
				$('#sectionADiv').show();
				$('#sectionBDiv').show();
				$('#sectionCDiv').show();
				$('#employmentDiv').hide();
			},
			error:function(){
				console.log("error");
			}			
		})
	}
</script>
<script>

	$(document).ready(function(){
		var curtime = new Date();
		var month = curtime.getMonth();
		var year = curtime.getFullYear();
		if(month>=8){
			$('#academicYearFrom').val(year);
			$('#academicYearTo').val(year+1);
		}
		else{
			$('#academicYearFrom').val(year-1);
			$('#academicYearTo').val(year);	
		}
	})
</script>
<script>
	function displayAddNewCourseDiv(){
		$.ajax({
			url:'https://mathesis.asu.edu:3000',
			type:'GET',
			success:function(){
				$('#addCourseRowDiv').show();
				$('#noCourseReasonDiv').hide();
				document.getElementById("reasonCourse").required=false;
			},
			error:function(){
				console.log("error");
			}			
		})
	}
</script>
<script>
	function displayNoCourseReasonDiv(){
		$.ajax({
			url:'https://mathesis.asu.edu:3000',
			type:'GET',
			success:function(){
				$('#addCourseRowDiv').hide();
				$('#noCourseReasonDiv').show();
				document.getElementById("reasonCourse").required=true;
			},
			error:function(){
				console.log("error");
			}			
		})
	}
</script>
<script>
	function displayMembersAddDiv(){
		$.ajax({
			url:'https://mathesis.asu.edu:3000',
			type:'GET',
			success:function(){
				$('#addMemberRowDiv').show();
				$('#noAdvisoryCommitteeReasonDiv').hide();
				document.getElementById("reasonAdvisoryCommittee").required=false;
			},
			error:function(){
				console.log("error");
			}			
		})	
	}
</script>
<script>
	function displayNoAdvisoryCommitteeReasonDiv(){
		$.ajax({
			url:'https://mathesis.asu.edu:3000',
			type:'GET',
			success:function(){
				$('#addMemberRowDiv').hide();
				$('#noAdvisoryCommitteeReasonDiv').show();
				document.getElementById("reasonAdvisoryCommittee").required=true;
			},
			error:function(){
				console.log("error");
			}			
		})	
	}
</script>
<script>
	function displayNotMetChairReasonDiv(){
		$.ajax({
			url:'https://mathesis.asu.edu:3000',
			type:'GET',
			success:function(){
				
				$('#notMetChairReasonDiv').show();
				document.getElementById("reasonNotMetChair").required=true;
			},
			error:function(){
				console.log("error");
			}			
		})	
	}
</script>
<script>
	function metWithChair(){
		$.ajax({
			url:'https://mathesis.asu.edu:3000',
			type:'GET',
			success:function(){
				
				$('#notMetChairReasonDiv').hide();
				document.getElementById("reasonNotMetChair").required=false;
			},
			error:function(){
				console.log("error");
			}			
		})	
	}
</script>
<script>
	function displayAnticipatedProspectusDefenseDate(){
		$.ajax({
			url:'https://mathesis.asu.edu:3000',
			type:'GET',
			success:function(){
				
				$('#anticipatedProspectusDefenseDate').show();
				document.getElementById("prospectusAnticipatedDateSession").required=true;
				document.getElementById("prospectusAnticipatedDateYear").required=true;
			},
			error:function(){
				console.log("error");
			}			
		})	
	}
</script>
<script>
	function hideAnticipatedProspectusDefenseDate(){
		$.ajax({
			url:'https://mathesis.asu.edu:3000',
			type:'GET',
			success:function(){
				
				$('#anticipatedProspectusDefenseDate').hide();
				document.getElementById("prospectusAnticipatedDateSession").required=false;
				document.getElementById("prospectusAnticipatedDateYear").required=false;
			},
			error:function(){
				console.log("error");
			}			
		})	
	}
</script>
<script>
	function displayAnticipatedDateOfMtbiParticipationDiv(){
		$.ajax({
			url:'https://mathesis.asu.edu:3000',
			type:'GET',
			success:function(){
				$('#yearOfMtbiParticipationDiv').hide();
				$('#anticipatedDateOfMtbiParticipationDiv').show();
				document.getElementById("mtbiParticipationYear").required=false;
				document.getElementById("mtbiParticipationRole").required=false;
				document.getElementById("mtbiAnticipatedDateSession").required=true;
				document.getElementById("mtbiAnticipatedDateYear").required=true;
			},
			error:function(){
				console.log("error");
			}			
		})	
	}
</script>
<script>
	function displayYearOfMtbiParticipationDiv(){
		$.ajax({
			url:'https://mathesis.asu.edu:3000',
			type:'GET',
			success:function(){
				$('#yearOfMtbiParticipationDiv').show();
				$('#anticipatedDateOfMtbiParticipationDiv').hide();
				document.getElementById("mtbiParticipationYear").required=true;
				document.getElementById("mtbiParticipationRole").required=true;
				document.getElementById("mtbiAnticipatedDateSession").required=false;
				document.getElementById("mtbiAnticipatedDateYear").required=false;
			},
			error:function(){
				console.log("error");
			}			
		})	
	}
</script>
<script>
	function displayAddPublicationRowDiv(){
		$.ajax({
			url:'https://mathesis.asu.edu:3000',
			type:'GET',
			success:function(){
				$('#addPublicationRowDiv').show();
				$('#addPublicationButton').show();
				document.getElementById("publicationName").required=false;
				document.getElementById("publicationStatus").required=false;
				document.getElementById("journalName").required = false;
				document.getElementById("publicationUrl").required=false;
				document.getElementById("publicationDoi").required=false;
				$('#publicationUrlDiv').hide();
				$('#publicationDoiDiv').hide();
			},
			error:function(){
				console.log("error");
			}			
		})	
	}

</script>
<script>
	function hideAddPublicationRowDiv(){
		$.ajax({
			url:'https://mathesis.asu.edu:3000',
			type:'GET',
			success:function(){
				$('#addPublicationRowDiv').hide();
				$('#addPublicationButton').hide();
				document.getElementById("publicationName").required=false;
				document.getElementById("publicationStatus").required=false;
				document.getElementById("journalName").required = false;
				document.getElementById("publicationUrl").required=false;
				document.getElementById("publicationDoi").required=false;
				$('#publicationUrlDiv').hide();
				$('#publicationDoiDiv').hide();
			},
			error:function(){
				console.log("error");
			}			
		})	
	}	
</script>
<script>
	function displayUrlDoi(){
		$.ajax({
			url:'https://mathesis.asu.edu:3000',
			type:'GET',
			success:function(){
				console.log("hello1");
				if(document.getElementById("publicationStatus").value === "ArXiv"){
					$('#publicationUrlDiv').hide();
					document.getElementById("publicationUrl").required = false;
					$('#publicationDoiDiv').show();
					document.getElementById("publicationDoi").required = false;
					console.log("hello2");
				}
				else if(document.getElementById("publicationStatus").value === "Published"){
					$('#publicationUrlDiv').show();
					document.getElementById("publicationUrl").required = false;
					$('#publicationDoiDiv').hide();
					document.getElementById("publicationDoi").required = false;	
					console.log("hello3");
				}
				else{
					$('#publicationUrlDiv').hide();
					document.getElementById("publicationUrl").required = false;
					$('#publicationDoiDiv').hide();
					document.getElementById("publicationDoi").required = false;	
					console.log("hello4");
				}
			},
			error:function(){
				console.log("error");
			}			
		})	
	}
</script>
<script>
	function displayAddPresentationRowDiv(){
		$.ajax({
			url:'https://mathesis.asu.edu:3000',
			type:'GET',
			success:function(){
				$('#addPresentationButton').show();
				$('#addPresentationRowDiv').show();
				document.getElementById("presentationType").required=false;
				document.getElementById("presentationTitle").required=false;
				
				document.getElementById("otherPresentationType").required=false;
				if(document.getElementById("presentationType").value == "Other"){
					$('#otherPresentationTypeDiv').show();
				}
			},
			error:function(){
				console.log("error");
			}			
		})
	}
</script>
<script>
	function hideAddPresentationRowDiv(){
		$.ajax({
			url:'https://mathesis.asu.edu:3000',
			type:'GET',
			success:function(){
				$('#addPresentationButton').hide();
				$('#addPresentationRowDiv').hide();
				document.getElementById("presentationType").required=false;
				document.getElementById("presentationTitle").required=false;
				
				document.getElementById("otherPresentationType").required=false;
				$('#otherPresentationTypeDiv').hide();
			},
			error:function(){
				console.log("error");
			}			
		})
	}
</script>
<script>
	function displayAddConferenceRowDiv(){
		$.ajax({
			url:'https://mathesis.asu.edu:3000',
			type:'GET',
			success:function(){
				$('#addConferenceRowDiv').show();
				$('#addConferenceButton').show();
				document.getElementById("conferenceName").required=false;
			},
			error:function(){
				console.log("error");
			}			
		})	
	}
</script>
<script>
	function hideAddConferenceRowDiv(){
		$.ajax({
			url:'https://mathesis.asu.edu:3000',
			type:'GET',
			success:function(){
				$('#addConferenceRowDiv').hide();
				$('#addConferenceButton').hide();
				document.getElementById("conferenceName").required=false;
			},
			error:function(){
				console.log("error");
			}			
		})	
	}
</script>
<script>
	function displayAddAwardRowDiv(){
		$.ajax({
			url:'https://mathesis.asu.edu:3000',
			type:'GET',
			success:function(){
				$('#addAwardRowDiv').show();
				$('#addAwardButton').show();
				document.getElementById("awardName").required=false;
			},
			error:function(){
				console.log("error");
			}			
		})	
	}
</script>
<script>
	function hideAddAwardRowDiv(){
		$.ajax({
			url:'https://mathesis.asu.edu:3000',
			type:'GET',
			success:function(){
				$('#addAwardRowDiv').hide();
				$('#addAwardButton').hide();
				document.getElementById("awardName").required=false;
			},
			error:function(){
				console.log("error");
			}			
		})	
	}
</script>
</head>
<body>
	<form method="post" action="/addData">
	<div class="container">
		<div class="panel panel-info">
			<div class="panel-heading">Introductory Section</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-4"> 
							<label class="control-label" for="degreeSelect">
								Doctoral Degree Program
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-4"> 
							<select id="degree" class="form-control" name="degreeSelect" required>
								<option value="initial" disabled selected="selected">Select a degree Program</option>
								<%degrees = ["AMLSS"];%>
								<%degrees.forEach(function(degree){%>
								<option value=<%=degree%>><%=degree%></option>
								<%});%>    						
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-4">
							<label class="control-label" for="graduation">
								Are you graduating this year?(Students graduating in summer should answer "yes" as well)
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-1">
							<label class="control-label" for="graduationYes">
								Yes
							</label>
						</div>
						<div class="col-md-1">
							<input type="radio" id="graduationYes" name="graduation" value="1" onclick="displayEmployment()" required>
						</div>
						<div class="col-md-1">
							<label class="control-label" id="graduationNo" for="graduation">
								No
							</label>

						</div>
						<div class="col-md-1">
							<input type="radio" id="graduationNo" name="graduation" value="0" onclick="displaySectionABC()">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Employment survey div starts -->
		<div class="panel panel-info" id="employmentDiv" style="display:none;">
			<div class="panel-heading">Employment Survey</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-6">
							<label class="control-label" for="emailExtra">
								Please enter an email where you can be contacted after you leave ASU
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-3">
							<input class="form-control" id="emailExtra" type="email" name="emailExtra">
						</div>
					</div>

				</div>
				<div class="row">
						<div class="form-group pad">
							<div class="col-md-5">
								<label class="control-label" for="acceptance">
									Do you have employment after graduation?
								</label>	
							</div>
							<div class="col-md-1">
								<label class="control-label" for="employment">
									Yes
								</label>
							</div>
							<div class="col-md-1">
								<input type="radio" id="employment" name="employment">
							</div>
							<div class="col-md-1">
								<label class="control-label" for="employment">
									No
								</label>

							</div>
							<div class="col-md-1">
								<input type="radio" id="employmentNo" name="employment">
							</div>
						</div>
					</div>

			</div>	
		</div>
		<!-- Section A starts -->
		<div class="panel panel-info" id="sectionADiv" style="display:none;">
			<div class="panel-heading">Section A | Program of Study - Status</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-3"> 
						<label class="control-label">
							Academic Year
							<sup class="star">*</sup>
						</label>
					</div>
					<div class="col-md-1"> 
						<label class="control-label" for="academicYearFrom">Fall</label>
					</div>
					<div class="col-md-1" > 
						<input class="form-control" type="text" id="academicYearFrom" name="academicYearFrom" required disabled>
					</div>
					<div class="col-md-2"> 
						<label class="control-label" for="academicYearTo">Spring/Summer</label>
					</div>
					<div class="col-md-1"> 
						<input class="form-control" type="text" id="academicYearTo" name="academicYearTo" required disabled>
					</div>

				</div>
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-3">
							<label class="control-label" for="firstName">
								First Name
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-2">
							<input class="form-control" type="text" id="firstName" name="firstName" required>
						</div>
						<div class="col-md-2">
							<label class="control-label" for="lastName">
								LastName
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-2">
							<input class="form-control" type="text" id="lastName" name="lastName" required>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-3">
							<label class="control-label" for="idNumber">
								ASU ID/Student ID Number
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-2">
							<input class="form-control" type="text" id="idNumber" name="idNumber" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required>
						</div>
						<div class="col-md-2">
							<label class="control-label" for="asurite">
								ASURITE ID
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-2">
							<input class="form-control" type="text" id="asurite" name="asurite" required>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group pad">
						<div class="col-md-3">
							<label class="control-label" for="programStartDate">
								Program Start Date
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-2">
							<input class="form-control" type="date" id="programStartDate" name="programStartDate" required>
						</div>
						<div class="col-md-2">
							<label class="control-label" for="asurite">
								Semester in Progress
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-2">
							<select id="currentSemester" class="form-control" name="currentSemester" required>
								<option value="initial" disabled selected="selected">current semester</option>
								<%for(var i=1;i<=20;i++){%>
								<option value=<%=i%>><%=i%></option>
								<%}%>    						
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-3">
							<label class="control-label" for="gpa">
								Cumulative GPA
								<sup class="star">*</sup>
							</label>	
						</div>
						<div class="col-md-2">
							<input type="number" step="0.01" id="gpa" name="gpa" class="form-control" required>
						</div>
					</div>
				</div>

				<hr>
				<!--<font size="2">
					<i><u>Courses taken previously</u></i>
				</font>
				<table class="table table-hover">
					<tr>
						<th>S.No.</th>
						<th>Course</th>
						<th>Grade</th>
					</tr>
				</table> -->
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-4">
							<label class="control-label" for="coursesAdd">
								Do you want to add courses for the current year?
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-1">
							<label class="control-label" for="coursesAdd">
								Yes
							</label>
						</div>
						<div class="col-md-1">
							<input type="radio" id="coursesAddYes" name="coursesAdd" onclick="displayAddNewCourseDiv()"required>
						</div>
						<div class="col-md-1">
							<label class="control-label" for="coursesAdd">
								No
							</label>

						</div>
						<div class="col-md-1">
							<input type="radio" id="coursesAddNo" onclick="displayNoCourseReasonDiv()" name="coursesAdd">
						</div>
					</div>
				</div>
				<table class="table table-hover pad" name="courseAddTable" id="courseAddTable">
					<tr>
						<th>Course</th>
						<th>Grade</th>
						<th>Action</th>
					</tr>
					<input type="hidden" name="courseAddTableHiddenInput" id="courseAddTableHiddenInput" value=""	/>
				</table>
				<div class="row" id="addCourseRowDiv" style="display:none;">
					<div class="form-group pad">
						<div class="col-md-2">
							<label class="control-label" for="coursesName">
								Course Name
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-2">
							<input type="text" id="courseName" class="form-control" name="courseName">
						</div>
						<div class="col-md-2">
							<label class="control-label" for="courseGrade">
								Grade
							</label>
						</div>
						<div class="col-md-2">
							<input type="text" id="courseGrade" class="form-control" name="courseGrade">
						</div>
						<div class="col-md-2">
						</div>
						<div class="col-md-2">
							
							<button type="button" id="addCourseButton" class="btn btn-success" onclick="addNewCourse()"> Add Course </button>
						</div>

					</div>

				</div>
				<div id="noCourseReasonDiv" style="display:none;">
					<div class="row">
						<div class="form-group pad">
							<div class="col-md-5">
								<label class="control-label" for="reasonCourse">
									Please specify reason for not taking courses this year
									<sup class="star">*</sup>
								</label>
							</div>
						</div>
					</div>
					<div class="form-group pad">
						<textarea class="form-control" id="reasonCourse" name="reasonCourse" rows="3" cols="100" placeholder="Enter reason here"></textarea>
					</div>

				</div>
				<hr>
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-4">
							<label class="control-label" for="membersAdd">
								Do you want to add members to the advisory committee?
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-1">
							<label class="control-label" for="membersAdd">
								Yes
							</label>
						</div>
						<div class="col-md-1">
							<input type="radio" id="membersAddYes" name="membersAdd" onclick="displayMembersAddDiv()" required>
						</div>
						<div class="col-md-1">
							<label class="control-label" for="membersAdd">
								No
							</label>

						</div>
						<div class="col-md-1">
							<input type="radio" id="membersAddNo" name="membersAdd" onclick="displayNoAdvisoryCommitteeReasonDiv()">
						</div>
					</div>
				</div>
				<table class="table table-hover pad" id="memberAddTable" name="memberAddTable">
					<tr>
						<th>Member Position</th>
						<th>Member Name</th>
						<th>Member Email ID</th>
					</tr>
					<input type="hidden" name="memberAddTableHiddenInput" id="memberAddTableHiddenInput" value=""	/>
				</table>
				<div class="row" id="addMemberRowDiv" style="display:none;">
					<div class="form-group pad">
						<div class="col-md-1">
							<label class="control-label" for="memberPosition">
								Member Position
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-2">
							<select id="memberPosition" class="form-control" name="memberPosition" >
								<option value="initial" disabled selected="selected"></option>
								<option value="CHAIR">CHAIR</option>
								<option value="CO_CHAIR">CO-CHAIR</option>
								<option value="MEMBER">MEMBER</option>
							</select>
						</div>
						<div class="col-md-1">
							<label class="control-label" for="memberName">
								Member Name
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-2">
							<input type="text" id="memberName" class="form-control" name="memberName">
						</div>
						<div class="col-md-1">
							<label class="control-label" for="memberEmail">
								Email ID
							</label>
						</div>
						<div class="col-md-3">
							<input type="email" id="memberEmail" class="form-control" name="memberEmail">
						</div>
						<div class="col-md-1">
							<!-- <button id="addCourse" onclick="add()">Add Course</button> -->
							<button id="addCourse" class="btn btn-success" onclick="addMember()" type="button"> Add Member </button>
						</div>

					</div>

				</div>
				<div id="noAdvisoryCommitteeReasonDiv" style="display:none;">
					<div class="row">
						<div class="form-group pad">
							<div class="col-md-5">
								<label class="control-label" for="reasonAdvisoryCommittee">
									Please specify reason for not having an Advisory Committee
									<sup class="star">*</sup>
								</label>
							</div>
						</div>
					</div>
					<div class="form-group pad">
						<textarea class="form-control" id="reasonAdvisoryCommittee" name="reasonAdvisoryCommittee" rows="3" cols="100" placeholder="Enter reason here"></textarea>
					</div>

				</div>
				<hr>
				<div id="metChairDiv">
					<div class="row">
						<div class="form-group pad">
							<div class="col-md-4">
								<label class="control-label" for="metChair">
									Have you met with the Chair in the current academic year?
									<sup class="star">*</sup>
								</label>
							</div>
							<div class="col-md-1">
								<label class="control-label" for="metChair">
									Yes
								</label>
							</div>
							<div class="col-md-1">
								<input type="radio" id="metChairYes" name="metChair" onclick="metWithChair()" required>
							</div>
							<div class="col-md-1">
								<label class="control-label" for="coursesAddNo">
									No
								</label>

							</div>
							<div class="col-md-1">
								<input type="radio" id="metChairNo" onclick="displayNotMetChairReasonDiv()" name="metChair">
							</div>
						</div>
					</div>
					<div id="notMetChairReasonDiv" style="display:none;">
						<div class="row">
							<div class="form-group pad">
								<div class="col-md-4">
									<label class="control-label" for="reasonNotMetChair">
										Please specify reason for not having met the chair
										<sup class="star">*</sup>
									</label>
								</div>
							</div>
						</div>
						<div class="form-group pad">
							<textarea class="form-control" id="reasonNotMetChair" name="reasonNotMetChair" rows="3" cols="100" placeholder="Enter reason here"></textarea>
						</div>
					</div>

				</div>
			</div> <!-- this div is for panel body -->
			<!-- Section B starts -->
		</div>
		<div class="panel panel-info" id="sectionBDiv" style="display:none;">
			<div class="panel-heading">Section B | Student Progress</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-4">
							<label class="control-label" for="prospectusDefense">
								Have you completed Prospectus Defense?
								<sup class="star">*</sup>
							</label>

						</div>
						<div class="col-md-1">
							<label class="control-label" for="prospectusDefenseCompleted">
								Yes
							</label>
						</div>
						<div class="col-md-1">
							<input type="radio" id="coursesAddYes" name="prospectusDefenseCompleted" value="1" required onclick="hideAnticipatedProspectusDefenseDate()">
						</div>
						<div class="col-md-1">
							<label class="control-label" for="prospectusDefenseCompleted">
								No
							</label>

						</div>
						<div class="col-md-1">
							<input type="radio" id="coursesAddNo" name="prospectusDefenseCompleted" value="0" onclick="displayAnticipatedProspectusDefenseDate()">
						</div>
					</div>
				</div>
				<div class="row" id="anticipatedProspectusDefenseDate" style="display:none;">
					<div class="form-group pad">
						<fieldset>
							<div class="col-md-3">
								<label class="control-label" for="prospectusDefenseAnticipatedDate">
									Anticipated date for Prospectus Defense
									<sup class="star">*</sup>
								</label>
							</div>
							<div class="col-md-1">
								<label class="control-label" for="prospectusAnticipatedDateSession">
									Semester
								</label>
							</div>
							<div class="col-md-2">
								<select class="form-control" id="prospectusAnticipatedDateSession" name="prospectusAnticipatedDateSession">
									<option value="" disabled selected="selected"> Session </option>
									<option value="Spring">Spring</option>
									<option value="Summer">Summer</option>
									<option value="Fall">Fall</option>
								</select>
							</div>
							<div class="col-md-1">
								<label class="control-label" for="prospectusAnticipatedDateYear" name="prospectusAnticipatedDateYear">
									Year
								</label>
								
							</div>
							<div class="col-md-2">
								<select class="form-control" id="prospectusAnticipatedDateYear" name="prospectusAnticipatedDateYear">
									<option value="" disabled selected="selected"> Year </option>
									<%for(var i=2018;i<=2030;i++){%>
									<option value=<%=i%>><%=i%></option>
									<%}%>
								</select>
							</div>
						</fieldset>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-4">
							<label class="control-label" for="mtbi">
								Have you participated in MTBI?
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-1">
							<label class="control-label" for="mtbiParticipation">
								Yes
							</label>
						</div>
						<div class="col-md-1">
							<input type="radio" id="mtbiParticipationYes" name="mtbiParticipation" onclick="displayYearOfMtbiParticipationDiv()" required value="1">
						</div>
						<div class="col-md-1">
							<label class="control-label" for="mtbiParticipation">
								No
							</label>
						</div>
						<div class="col-md-1">
							<input type="radio" id="mtbiParticipationNo" name="mtbiParticipation" onclick="displayAnticipatedDateOfMtbiParticipationDiv()" value="0">
						</div>
					</div>
				</div>
				<div class="row" id="yearOfMtbiParticipationDiv" style="display:none;">
					<div class="form-group">
						<div class="col-md-4">
							<label class="control-label" for="mtbiParticipationYear">
								Year of MTBI participation
							</label>
						</div>
						<div class="col-md-2">
							<select class="form-control" id="mtbiParticipationYear" name="mtbiParticipationYear">
								<option value="" disabled selected="selected" required> Year </option>
								<%for(var i=2000;i<=2030;i++){%>
								<option value=<%=i%>><%=i%></option>
								<%}%>
							</select>
						</div>
						<div class="col-md-1">
							<label class="control-label" for="mtbiParticipationRole">
								Role
							</label>
						</div>
						<div class="col-md-2">
							<select class="form-control" id="mtbiParticipationRole" name="mtbiParticipationRole">
								<option value="" disabled selected="selected">Role</option>
								<option value="Undergraduate Participant">Undergraduate Participant</option>
								<option value="Graduate Participant">Graduate Participant</option>
								<option value="Mentor">Mentor/Tutor</option>
							</select>
						</div>
					</div>
					
				</div>
				<div class="row" id="anticipatedDateOfMtbiParticipationDiv" style="display:none;">
					<div class="form-group pad">
						<fieldset>
							<div class="col-md-3">
								<label class="control-label" for="mtbiAnticipated">
									Anticipated date for MTBI participation
									<sup class="star">*</sup>
								</label>
							</div>
							<div class="col-md-1">
								<label class="control-label" for="mtbiAnticipatedDateSession">
									Semester
								</label>
							</div>
							<div class="col-md-2">
								<select class="form-control" id="mtbiAnticipatedDateSession" name="mtbiAnticipatedDateSession">
									<option value="" disabled selected="selected">--session--</option>
									<option value="Summer">Summer</option>
								</select>
							</div>
							<div class="col-md-1">
								<label class="control-label" for="mtbiAnticipatedDateYear">
									Year
								</label>
								
							</div>
							<div class="col-md-2">
								<select class="form-control" id="mtbiAnticipatedDateYear" name="mtbiAnticipatedDateYear">
									<option value="" disabled selected="selected"> Year </option>
									<%for(var i=2018;i<=2030;i++){%>
									<option value=<%=i%>><%=i%></option>
									<%}%>
								</select>
							</div>
						</fieldset>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-4">
							<label class="control-label" for="publications">
								Do you want to add publications for the current year?
							</label>
						</div>
						<div class="col-md-1">
							<label class="control-label" for="publicationsExist">
								Yes
							</label>
						</div>
						<div class="col-md-1">
							<input type="radio" id="publicationsExistYes" name="publicationsExist" onclick="displayAddPublicationRowDiv()" value="1" required> 
						</div>
						<div class="col-md-1">
							<label class="control-label" for="publicationsExist">
								No
							</label>
						</div>
						<div class="col-md-1">
							<input type="radio" id="publicationsExistNo" name="publicationsExist" onclick="hideAddPublicationRowDiv()" value="0"> 
						</div>

					</div>

				</div>	
				<table class="table table-hover pad" id="publicationsAddTable" name="publicationsAddTable">
					<tr>
						<th class="col-md-2">Publication</th>
						<th class="col-md-2">Journal</th>
						<th class="col-md-2">Status</th>
						<th class="col-md-3">URL</th>
						<th class="col-md-2">DOI</th>
						<th class="col-md-1">Action</th>
					</tr>
					<input type="hidden" name="publicationAddTableHiddenInput" id="publicationAddTableHiddenInput" value=""	/>
				</table>
				<div class="row" id="addPublicationRowDiv" style="display:none;">
					<div class="form-group pad">
						<div class="col-md-2">
							<label class="control-label" for="publicationName">
								Publication Name
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-2">
							<input type="text" id="publicationName" class="form-control" name="publicationName">
						</div>
						<div class="col-md-2">
							<label class="control-label" for="journalName">
								Journal Name
							</label>
						</div>
						<div class="col-md-2">
							<input type="text" id="journalName" class="form-control" name="journalName">
						</div>
						<div class="col-md-2">
							<label class="control-label" for="publicationStatus">
								Status
							</label>
						</div>
						<div class="col-md-2">
							<select id="publicationStatus" class="form-control" name="publicationStatus" onclick="displayUrlDoi()">
								<option value="" disabled selected="selected">--status--</option>
								<option value="Submitted">Submitted</option>
								<option value="Accepted">Accepted</option>
								<option value="Published">Published</option>
								<option value="ArXiv">ArXiv</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row" id="publicationUrlDiv" style="display:none;">
					<div class="form-group pad">
						<div class="col-md-2">
							<label class="control-label" for="publicationUrl">
								Publication URL
							</label>						
						</div>
						<div class="col-md-4">
							<input class="form-control" type="url" id="publicationUrl" name="publicationUrl">
						</div>
					</div>
				</div>
				<div class="row" id="publicationDoiDiv" style="display:none;">
					<div class="form-group pad">
						<div class="col-md-2">
							<label class="control-label" for="publicationDoi">
								Publication DOI
							</label>						
						</div>
						<div class="col-md-4">
							<input class="form-control" type="url" id="publicationDoi" name="publicationDoi">
						</div>
					</div>
				</div>
				<div class="row" id="addPublicationButton" style="display:none;">
					<div class="form-group pad">
						<div class="col-md-2">
							<!-- <button id="addCourse" onclick="add()">Add Course</button> -->
							<button id="addPublication" class="btn btn-success" onclick="addNewPublication()" type="button"> Add Publication </button>
						</div>

					</div>
				</div>
				<hr>
				<!-- Presentations begins here -->
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-4">
							<label class="control-label" for="presentations">
								Do you want to add presentations for the current year?
							</label>
						</div>
						<div class="col-md-1">
							<label class="control-label" for="presentationsExist">
								Yes
							</label>
						</div>
						<div class="col-md-1">
							<input type="radio" id="presentationsExistYes" name="presentationsExist" value="1" onclick="displayAddPresentationRowDiv()" required> 
						</div>
						<div class="col-md-1">
							<label class="control-label" for="presentationsExist">
								No
							</label>
						</div>
						<div class="col-md-1">
							<input type="radio" id="presentationsExistNo" name="presentationsExist" onclick="hideAddPresentationRowDiv()" value="0"> 
						</div>

					</div>

				</div>	
				<table class="table table-hover pad" id="presentationsAddTable" name="presentationsAddTable">
					<tr>
						<th class="col-md-3">Presentation</th>
						<th class="col-md-3">Title</th>
						<th class="col-md-3">Action</th>
					</tr>
					<input type="hidden" name="presentationAddTableHiddenInput" id="presentationAddTableHiddenInput" value=""	/>
				</table>
				<div class="row" id="addPresentationRowDiv" style="
				display:none;">
					<div class="form-group pad">
						<div class="col-md-2">
							<label class="control-label" for="presentationType">
								Presenation Type
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-2">
							<select id="presentationType" class="form-control" name="presentationType" onchange="displayOtherPresentationType()">
								<option value="" disabled selected="selected">--Type--</option>
								<option value="Conference Talk">Conference Talk</option>
								<option value="Poster">Poster</option>
								<option value="Seminar">Seminar</option>
								<option value="Other" >Other</option>
							</select>	
						</div>
						<div class="col-md-2">
							<label class="control-label" for="presentationTitle">
								Title
							</label>
						</div>
						<div class="col-md-2">
							<input type="text" id="presentationTitle" class="form-control" name="presentationTitle"> 
						</div>
						
					</div>
					
				</div>
				<div class="row" id="otherPresentationTypeDiv" style="display:none;">
					<div class="form-group pad">
						<div class="col-md-4">
							<label class="control-label" for="otherPresentationType">
								Please specify other presentation type
							</label>
						</div>
						<div class="col-md-5">
							<input type="text" id="otherPresentationType" class="form-control" name="otherPresentationType">
						</div>
					</div>
				</div>

				<div class="row" id="addPresentationButton" style="display:none;">
					<div class="form-group pad">
						<div class="col-md-2">
							<button id="addPresentation" class="btn btn-success" onclick="addNewPresentation()" type="button"> Add Presentation </button>
						</div>

					</div>
				</div>
				<hr>
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-4">
							<label class="control-label" for="conferences">
								Have you attended any conferences in the current year?
							</label>
						</div>
						<div class="col-md-1">
							<label class="control-label" for="conferencesExist">
								Yes
							</label>
						</div>
						<div class="col-md-1">
							<input type="radio" id="conferencesExistYes" name="conferencesExist" value="1" onclick="displayAddConferenceRowDiv()" required> 
						</div>
						<div class="col-md-1">
							<label class="control-label" for="conferencesExist">
								No
							</label>
						</div>
						<div class="col-md-1">
							<input type="radio" id="conferencesExistNo" name="conferencesExist" onclick="hideAddConferenceRowDiv()" value="0"> 
						</div>

					</div>

				</div>	
				<table class="table table-hover pad" id="conferencesAddTable" name="conferencesAddTable">
					<tr>
						<th class="col-md-3">Conference Name</th>
						<th class="col-md-3">Presented here</th>
						<th class="col-md-2">Action</th>
					</tr>
					<input type="hidden" name="conferenceAddTableHiddenInput" id="conferenceAddTableHiddenInput" value=""	/>
				</table>
				<div id="addConferenceRowDiv" style="display:none;">
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-2">
							<label class="control-label" for="conferenceName">
								Conference Name
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-4">
							<input type="text" id="conferenceName" class="form-control" name="conferenceName">
						</div>
					</div>
					
				</div>
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-4">
							<label class="control-label" for="conferences">
								Did you present at this conference?
							</label>
						</div>
						<div class="col-md-2">
							<select id="conferencesPresented" class="form-control" name="conferencesPresented">
								<option value="" disabled selected="selected">--select--</option>
								<option value="Yes">Yes</option>
								<option value="No">No</option>
							</select>	
						</div>

					</div>

				</div>	
				
				</div>	
				
				<div class="row" id="addConferenceButton" style="display:none;">
					<div class="form-group pad">
						<div class="col-md-2">
							<!-- <button id="addCourse" onclick="add()">Add Course</button> -->
							<button id="addConference" class="btn btn-success" onclick="addNewConference()" type="button"> Add Conference </button>
						</div>

					</div>
				</div>
				<hr>
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-4">
							<label class="control-label" for="awards">
								Do you want to add Awards for the current year?
							</label>
						</div>
						<div class="col-md-1">
							<label class="control-label" for="awardsExist">
								Yes
							</label>
						</div>
						<div class="col-md-1">
							<input type="radio" id="awardsExistYes" name="awardsExist" value="1" onclick="displayAddAwardRowDiv()" required> 
						</div>
						<div class="col-md-1">
							<label class="control-label" for="awardsExist">
								No
							</label>
						</div>
						<div class="col-md-1">
							<input type="radio" id="awardsExistNo" name="awardsExist" onclick="hideAddAwardRowDiv()" value="0"> 
						</div>

					</div>

				</div>	
				<table class="table table-hover pad" id="awardsAddTable" name="awardsAddTable">
					<tr>
						<th class="col-md-3">Award</th>
						<th class="col-md-2">Action</th>
					</tr>
					<input type="hidden" name="awardAddTableHiddenInput" id="awardAddTableHiddenInput" value=""	/>
				</table>
				<div class="row" id="addAwardRowDiv" style="display:none;">
					<div class="form-group pad">
						<div class="col-md-2">
							<label class="control-label" for="awardName">
								Award
								<sup class="star">*</sup>
							</label>
						</div>
						<div class="col-md-4">
							<input type="text" id="awardName" class="form-control" name="awardName">
						</div>

					</div>
					
				</div>
				
				<div class="row" id="addAwardButton" style="display:none;">
					<div class="form-group pad">
						<div class="col-md-2">
							<!-- <button id="addCourse" onclick="add()">Add Course</button> -->
							<button id="addAward" class="btn btn-success" onclick="addNewAward()" type="button"> Add Award </button>
						</div>

					</div>
				</div>
			</div> <!-- this div is for panel body -->


		</div>
		<div class="panel panel-info" id="sectionCDiv" style="display:none;">
			<div class="panel-heading">Section C | Program of Study - Status</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-6">
							<label class="control-label" for="extraInfo">
								Please enter any other information you wish to add to this form
								<sup class="star">*</sup>
							</label>
						</div>
					</div>
				</div>
				<div class="form-group pad">
					<textarea class="form-control" id="extraInfo" name="extraInfo" rows="3" cols="100" placeholder="Enter reason here"></textarea>
				</div>
				<div class="row">
					<div class="col-md-1">
						<input type="checkbox" id="acceptance" name="acceptance" value="1" required>
					</div>
					<div class="col-md-5">
						<label class="control-label" for="acceptance">
							I certify that all the information is true and complete to the best of my knowledge
						</label>	
					</div>
				</div>
				<div class="row">
					<div class="form-group pad">
						<div class="col-md-2">
							<!-- <button id="addCourse" onclick="add()">Add Course</button> -->
							<button id="submitButton" class="btn btn-success" type="submit"> Submit form </button>
						</div>

					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
</form>

</body>
</html>
